<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} - My Flask Application</title>
	
	<link rel="stylesheet" type="text/css" href="/static/content/clean-blog.css" />
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/content/clean-blog.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/content/loginform.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap" rel="stylesheet">



	<script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" style="font-family:'Comic Sans MS';" href="/home">Concertina</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/processfile">Upload File Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('LoginRegister') }}#mail">Login/Register</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- Page Header -->
	<header class="masthead" style="background-image: url('/static/img/green backgrounds/4.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1 style="font-family:'Comic Sans MS';">Concertina First Look</h1>
						<span class="subheading">Please work on the design cuz im such a bad designer</span>
					</div>
				</div>
			</div>
		</div>
	</header>



	<div class="container body-content">
		{% block content %}{% endblock %}
		<hr />

	</div>



	<script src="/static/scripts/jquery-1.10.2.js"></script>
	<script src="/static/scripts/bootstrap.js"></script>
	<script src="/static/scripts/respond.js"></script>

	<script src="/static/scripts/clean-blog.js"></script>
	<script src="/static/scripts/clean-blog.min.js"></script>
	<script src="/static/scripts/contact_me.js"></script>
	<script src="/static/scripts/jqBootstrapValidation.js"></script>

	{% block scripts %}{% endblock %}

	<footer class="mainfooter" role="contentinfo" style="background-image: url('/static/img/green backgrounds/4.jpg');">
		<div class="footer-middle">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>Legal</h4>
							<ul class="list-unstyled">
								<li><a href="#"></a></li>
								<li><a href="#">Payment Center</a></li>
								<li><a href="#">Contact Directory</a></li>
								<li><a href="#">Forms</a></li>
								<li><a href="#">News and Updates</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>More Info</h4>
							<ul class="list-unstyled">
								<li><a href="#">Website Tutorial</a></li>
								<li><a href="#">Accessibility</a></li>
								<li><a href="#">Disclaimer</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">FAQs</a></li>
								<li><a href="#">Webmaster</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!--Column1-->
						<div class="footer-pad">
							<h4>Users</h4>
							<ul class="list-unstyled">
								<li><a href="#">Parks and Recreation</a></li>
								<li><a href="#">Public Works</a></li>
								<li><a href="#">Police Department</a></li>
								<li><a href="#">Fire</a></li>
								<li><a href="#">Mayor and City Council</a></li>
								<li>
									<a href="#"></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<h4>Follow Us</h4>
						<ul class="list-unstyled">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-youtube"></a></li>
							<li><a href="#" class="fa fa-github"></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 copy">
						<p class="text-center">&copy; Copyright 2019 - Concertina.  All rights reserved.</p>
					</div>
				</div>


			</div>
		</div>
	</footer>
</body>
</html>
